:root {
  --font-family: "Press Start 2P", cursive; }

html,
body,
pre,
cody,
kdb,
samp {
  font-family: var(--font-family); }

.inputs {
  position: sticky;
  bottom: 0;
  padding: 1rem;
  background-color: white; }

.message-list .nes-balloon {
  word-wrap: normal; }

.message-list .-left {
  justify-content: start; }

.message-list .-right {
  justify-content: end; }
  .message-list .-right .nes-ash,
  .message-list .-right .nes-pokeball {
    transform: rotateY(180deg); }
